<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <div class="container px-5 py-2 d-flex justify-content-between align-items-center">
        <!-- Navbar başlığı -->
        <a class="navbar-brand" href="/">
            <i class="fa-solid fa-magnifying-glass mx-2" style="color: #ffffff;"></i> Patent Searcher
        </a>
        <!-- Navbar collapse butonu -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <!-- Navbar menüsü -->
    <div class="collapse navbar-collapse" id="navbarNav">
        <div class="navbar-nav ms-auto">

            <!-- Diğer bağlantılar -->
            <a class="nav-item nav-link" href="/about">Hakkında</a>
            <a class="nav-item nav-link" href="/test">Test</a>
        </div>
    </div>
</nav>